*.class
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
addressbook-web-tests/allure-report/css/app.css
addressbook-web-tests/allure-report/data/2f9fb22ee9384cf9-testcase.json
addressbook-web-tests/allure-report/data/84574a1e187123b-testcase.json
addressbook-web-tests/allure-report/data/9f28ab57bd62c320-testcase.json
addressbook-web-tests/allure-report/data/behaviors.json
addressbook-web-tests/allure-report/data/d0071fa71953022d-testcase.json
addressbook-web-tests/allure-report/data/defects.json
addressbook-web-tests/allure-report/data/e2dea15a7bbe8900-testcase.json
addressbook-web-tests/allure-report/data/environment.json
addressbook-web-tests/allure-report/data/graph.json
addressbook-web-tests/allure-report/data/plugins.json
addressbook-web-tests/allure-report/data/report.json
addressbook-web-tests/allure-report/data/timeline.json
addressbook-web-tests/allure-report/data/total.json
addressbook-web-tests/allure-report/data/widgets.json
addressbook-web-tests/allure-report/data/xunit.json
addressbook-web-tests/allure-report/flash/clippy.swf
addressbook-web-tests/allure-report/img/allure-logo.png
addressbook-web-tests/allure-report/img/favicon.ico
addressbook-web-tests/allure-report/img/tests_passed.jpg
addressbook-web-tests/allure-report/js/app.js
addressbook-web-tests/allure-report/js/controllers.js
addressbook-web-tests/allure-report/js/directives.js
addressbook-web-tests/allure-report/js/filters.js
addressbook-web-tests/allure-report/js/pluginApi.js
addressbook-web-tests/allure-report/js/services.js
addressbook-web-tests/allure-report/js/charts/charts.js
addressbook-web-tests/allure-report/js/charts/duration.js
addressbook-web-tests/allure-report/js/charts/pie.js
addressbook-web-tests/allure-report/js/charts/severityMap.js
addressbook-web-tests/allure-report/js/charts/timeline.js
addressbook-web-tests/allure-report/js/overview/widgets.js
addressbook-web-tests/allure-report/js/pane/pane.js
addressbook-web-tests/allure-report/js/scrollfix/scrollfix.js
addressbook-web-tests/allure-report/js/table/table.js
addressbook-web-tests/allure-report/js/testcase/list.js
addressbook-web-tests/allure-report/js/testcase/provider.js
addressbook-web-tests/allure-report/js/testcase/statusSwitcher.js
addressbook-web-tests/allure-report/js/testcase/testcase.js
addressbook-web-tests/allure-report/plugins/behaviors/en.json
addressbook-web-tests/allure-report/plugins/behaviors/ptbr.json
addressbook-web-tests/allure-report/plugins/behaviors/ru.json
addressbook-web-tests/allure-report/plugins/behaviors/script.js
addressbook-web-tests/allure-report/plugins/behaviors/tab.tpl.html
addressbook-web-tests/allure-report/plugins/defects/en.json
addressbook-web-tests/allure-report/plugins/defects/ptbr.json
addressbook-web-tests/allure-report/plugins/defects/ru.json
addressbook-web-tests/allure-report/plugins/defects/script.js
addressbook-web-tests/allure-report/plugins/defects/tab.tpl.html
addressbook-web-tests/allure-report/plugins/environment/script.js
addressbook-web-tests/allure-report/plugins/graph/en.json
addressbook-web-tests/allure-report/plugins/graph/ptbr.json
addressbook-web-tests/allure-report/plugins/graph/ru.json
addressbook-web-tests/allure-report/plugins/graph/script.js
addressbook-web-tests/allure-report/plugins/graph/tab.tpl.html
addressbook-web-tests/allure-report/plugins/timeline/en.json
addressbook-web-tests/allure-report/plugins/timeline/ptbr.json
addressbook-web-tests/allure-report/plugins/timeline/ru.json
addressbook-web-tests/allure-report/plugins/timeline/script.js
addressbook-web-tests/allure-report/plugins/timeline/tab.tpl.html
addressbook-web-tests/allure-report/plugins/total/script.js
addressbook-web-tests/allure-report/plugins/xunit/en.json
addressbook-web-tests/allure-report/plugins/xunit/ptbr.json
addressbook-web-tests/allure-report/plugins/xunit/ru.json
addressbook-web-tests/allure-report/plugins/xunit/script.js
addressbook-web-tests/allure-report/plugins/xunit/tab.tpl.html
addressbook-web-tests/allure-report/plugins/xunit/testrun.html
addressbook-web-tests/allure-report/plugins/xunit/testsuite.html
addressbook-web-tests/allure-report/templates/overview.html
addressbook-web-tests/allure-report/templates/overview/defects.html
addressbook-web-tests/allure-report/templates/overview/keyValue.html
addressbook-web-tests/allure-report/templates/overview/statistics.html
addressbook-web-tests/allure-report/templates/overview/total.html
addressbook-web-tests/allure-report/templates/table/table.html
addressbook-web-tests/allure-report/templates/testcase/attachment.html
addressbook-web-tests/allure-report/templates/testcase/list.html
addressbook-web-tests/allure-report/templates/testcase/status-switcher.html
addressbook-web-tests/allure-report/templates/testcase/testcase.html
addressbook-web-tests/allure-report/templates/testcase/testcaseView.html
addressbook-web-tests/allure-report/translations/en.json
addressbook-web-tests/allure-report/translations/ptbr.json
addressbook-web-tests/allure-report/translations/ru.json
addressbook-web-tests/allure-report/vendor/filesize.js
addressbook-web-tests/allure-report/vendor/localstorageprovider.js
addressbook-web-tests/allure-report/vendor/messageformat/en.js
addressbook-web-tests/allure-report/vendor/messageformat/ptbr.js
addressbook-web-tests/allure-report/vendor/messageformat/ru.js
addressbook-web-tests/allure-report/WEB-INF/web.xml
addressbook-web-tests/allure-report/webjars/angular-loading-bar/0.6.0/loading-bar.js
addressbook-web-tests/allure-report/webjars/angular-translate-interpolation-messageformat/0.1.2/angular-translate-interpolation-messageformat.js
addressbook-web-tests/allure-report/webjars/angular-translate-loader-partial/2.6.0/angular-translate-loader-partial.js
addressbook-web-tests/allure-report/webjars/angular-translate/2.6.0/angular-translate.js
addressbook-web-tests/allure-report/webjars/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js
addressbook-web-tests/allure-report/webjars/angular-ui-router/0.2.13/angular-ui-router.js
addressbook-web-tests/allure-report/webjars/angularjs/1.2.26/angular-animate.min.js
addressbook-web-tests/allure-report/webjars/angularjs/1.2.26/angular.min.js
addressbook-web-tests/allure-report/webjars/d3js/3.4.11/d3.min.js
addressbook-web-tests/allure-report/webjars/font-awesome/4.2.0/fonts/fontawesome-webfont.eot
addressbook-web-tests/allure-report/webjars/font-awesome/4.2.0/fonts/fontawesome-webfont.svg
addressbook-web-tests/allure-report/webjars/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf
addressbook-web-tests/allure-report/webjars/font-awesome/4.2.0/fonts/fontawesome-webfont.woff
addressbook-web-tests/allure-report/webjars/font-awesome/4.2.0/fonts/FontAwesome.otf
addressbook-web-tests/allure-report/webjars/highlightjs/8.2-1/highlight.min.js
addressbook-web-tests/allure-report/webjars/jquery/2.1.1/jquery.min.js
addressbook-web-tests/allure-report/webjars/messageformat.js/0.1.4/messageformat.js
addressbook-web-tests/allure-report/webjars/Sortable/1.2.0/ng-sortable.js
addressbook-web-tests/allure-report/webjars/Sortable/1.2.0/Sortable.min.js
